<template>
    <div>
        <slot></slot>
    </div>
</template>

<script>
export default {
    
}
</script>
<style scoped>
div {
    border: 1px solid black;
    padding: 30px;
    margin: 30px auto;
    text-align: center;
}

</style>