<template>
    <div class="component">
        <h3>You may edit the user here</h3>
        <p>User Name: {{ reverseMyName() }}</p>
        <p>User Age: {{ userAge }}</p>
        <button @click="resetName">Reset Name</button>
        <button @click="resetFn()">Reset Function</button>
    </div>
</template>

<script>
import { eventBus } from '../main.js'

export default {
    props: {
        myName: {
            type: String,
        },
        resetFn: Function,
        userAge: Number
    },
    methods: {
        reverseMyName() {
            return this.myName.split("").reverse().join("");
        },
        resetName() {
            this.myName = 'Vanessa'
            // emit a custom event from child component to parent component
            this.$emit('nameWasReset', this.myName);
        }
    },
    created() {
        // callback that would get excuted automatically, always passes the data
        eventBus.$on('ageWasEdited', (ageData) => {
            this.userAge = ageData;
        })
    }
}
</script>

<style scoped>
    div {
        background-color: lightgreen;
    }
</style>