<template>
    <div class="component">
        <h1>The User Component</h1>
        <button @click="changeName">Change Name</button>
        <p>Name is {{ name }}</p>
        <p>Age is {{ age }}</p>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <!-- the nameWasReset is passing the name in data and the event from nameWasReset -->
                <user-detail 
                    :myName="name" 
                    @nameWasReset="name = $event"
                    :resetFn="resetName"
                    :userAge="age"
                    ></user-detail>
            </div>
            <div class="col-xs-12 col-sm-6">
                <user-edit
                    :userAge="age"
                    @ageWasEdited="age = $event"
                    ></user-edit>
            </div>
        </div>
    </div>
</template>

<script>
import UserDetail from './UserDetail.vue'
import UserEdit from './UserEdit.vue'

export default {
    data: function() {
        return {
            name: 'Vanessa',
            age: 25
        }
    },
    components: {
        userDetail: UserDetail,
        userEdit: UserEdit
    },
    methods: {
        changeName() {
            this.name = 'Anna'
        },
        resetName() {
            this.name = 'Vero'
        }
    }
}
</script>

<style scoped>

</style>
