<template>
        <div class="component">
        <h3>You may view the User Details here</h3>
        <p>User Age: {{ userAge }}</p>
        <button @click="editAge">Edit Age</button>
    </div>
</template>

<script>
import { eventBus } from '../main.js'

export default {
    props:{
        userAge: Number
    },
    methods: {
        editAge() {
            this.userAge = 30
            // this.$emit('ageWasEdited', this.userAge);
            // eventBus.$emit('ageWasEdited', this.userAge);
            eventBus.changeAge(this.userAge)
        }
    }
}
</script>

<style scoped>
    div {
        background-color: lightcoral;
    }
</style>