<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <app-user></app-user>
        <app-quote>
          <h2>This is the quote</h2>
        </app-quote>
      </div>
    </div>
  </div>
</template>

<script>
import User from './components/User.vue';
import Quote from './components/Quote.vue'

export default {
  components: {
    appUser: User,
    appQuote: Quote,
  }
}
</script>
